* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gemunu Libre', sans-serif;
}

body {
    background-color: black;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.center-screen {

    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eyes {
    width: 220px;
    margin-right: 15px;
}

.eyes-left {
    width: 220px;
    margin-left: 15px;
}

.menu {
    width:10vw;
    margin-top: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.game-size {
    width: 300px;
    display: flex;
    list-style: none;
    font-size: 30px;
    margin: 20px;
}

#intro {
    font-size: 3vw;
    color: rgb(252, 134, 189);
    margin-top: 10px;
}

a {
    font-size: 6vw;
    text-decoration: none;
    color: white;
    margin-top: 15px;
}

a:hover {
    transition: color .5s;
    color: rgb(252, 134, 189);
}

ul {
    margin-top: 20px;;
}

.title {
    font-size: 6vw;
    /* margin: 20px 0 10px 0; */
}

.game {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number {
    color: rgb(252, 134, 189);
    margin-bottom: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}

img {
    width: 100px;
}

@media only screen and (max-width: 600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 400px;
        width: 400px;
    }

    img {
        width: 50px;
    }
  }

  @media only screen and (max-width: 425px) {
    .grid {
        width:304px;
        height: 304px;
        object-fit: cover;
    }

    img {
        width: 38px;
    }

    .title {
        font-size: 9vw;
    }

    .number {
        font-size: 4vw;
    }
  }
