body {
    background-color: black;
}

.title {
    font-size: 4.5vw;
}

.game {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number {
    color: rgb(252, 134, 189);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}

